* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'loto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/psychic.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
}
h1 {
    margin: 0;
}

#game {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}